.home {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.home__container {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}